[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
seaborn = "*"
soundfile = "*"
librosa = "*"
boltons = "*"
tqdm = "*"
wandb = "*"
tensorboardx = "*"
ipdb = "*"
loguru = "*"
pudb = "*"
adabound = "*"
test-tube = "*"
notifiers = "*"
comet-ml = "*"

[dev-packages]

[requires]
python_version = "3.6"
